<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        ">
	<mvc:annotation-driven />
	<context:component-scan
		base-package="presentation;dao.implements;service.implement;webapp">
	</context:component-scan>
	<mvc:resources mapping="/**.css" location="/css/" />
	<mvc:resources mapping="/**.js" location="/js/" />
	<mvc:default-servlet-handler />
	<bean
		class='org.springframework.web.servlet.view.InternalResourceViewResolver'>
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".js"></property>
	</bean>

	<bean id="ds" name="dataSource"
		class='org.springframework.jdbc.datasource.DriverManagerDataSource'
		autowire="byName">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/webproject2" />
		<property name="username" value="projectServer" />
		<property name="password" value="projectServer" />
	</bean>
	<bean id="jdbcTemplate" name="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate" autowire="byName">
		<property name="dataSource" ref='ds'></property>
	</bean>
	<bean id="cartDao" name="cartDao"
		class='dao.implement.CartDaoImpl' autowire="byName">
		<!-- <property name="template" ref="jdbcTemplate"></property> -->
	</bean>
	<bean id='categoryDao' name="categoryDao"
		class='dao.implement.CategoryDaoImpl' autowire="byName">
		<!-- <property name="template" ref="jdbcTemplate"></property> -->
	</bean>
	<bean id='itemDao' name="itemDao"
		class='dao.implement.ItemDaoImpl' autowire="byName">
		<!-- <property name="template" ref="jdbcTemplate"></property> -->
	</bean>
	<bean id='userDao' name="userDao"
		class='dao.implement.UserDaoImpl' autowire="byName">
		<!-- <property name="template" ref="jdbcTemplate"></property> -->
	</bean>
	<bean id='ordersDao' name='ordersDao' autowire="byName"
		class='dao.implement.OrdersDaoImpl'>

	</bean>
	<bean id="categoryService"
		class="service.implement.CategoryServiceImpl" autowire="byName">
		<!-- <property name="categoryDao" ref="categoryDao" /> -->
	</bean>
	<bean id="cartService" class="service.implement.CartServiceImpl"
		autowire="byName">
		<!-- <property name="cartDao" ref="cartDao"></property> -->
	</bean>
	<bean id="itemService" class="service.implement.ItemServiceImpl"
		autowire="byName">
		<!-- <property name="itemDao" ref="itemDao"></property> -->
	</bean>
	<bean id="userService" class="service.implement.UserServiceImpl"
		autowire="byName">
		<!-- <property name="userDao" ref="userDao"></property> -->
	</bean>
	<bean id='ordersService'
		class='service.implement.OrdersServiceImpl'>

	</bean>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="presentation.ViewController.MainInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/admin" />
			<mvc:mapping path="/admin/" />
			<mvc:mapping path="/admin**" />
			<mvc:mapping path="/admin/**" />
			<bean class="presentation.ViewController.AdminInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>